@import '../../../Styles/variables';

.hourlyForecastCard {
	min-width: 90px;
	height: 100%;
	padding: 5px;
	background-color: var(--card-background);
	border-radius: 10px;
	color: var(--text-color);
	position: relative;
}

.list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.time {
	font-size: 14px;
	font-weight: 600;
}

.img {
	width: 50px;
	height: 50px;
}

.temp {
	font-size: 18px;
	font-weight: 500;
}

.date {
	left: 4px;
	top: 4px;
	font-size: 13px;
	font-weight: 600;
	opacity: 0.7;
	position: absolute;
}
