@import '../../../Styles/variables';
@import './../../../Styles/mixins';
.header {
	width: 100%;
	column-gap: 20px;
	height: 100px;
	color: var(--primary-color);
	border-radius: var(--border-radius);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
	box-shadow: var(--box-shadow);
	grid-area: header;
	background-color: var(--components-background);
	opacity: 0;
	transform: translateY(-200px);
	transition: all 0.3s ease;
}

.header.show {
	opacity: 1 !important;
	transform: translateY(0);
}

.searchForm {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 600px;
	width: 100%;
}

.searchInput {
	height: 50px;
	font-size: 20px;
	padding: 10px 20px;
	min-width: 350px;
	background: var(--primary-color);
	transition: all 0.3s ease;
	border-radius: var(--border-radius);
	font-weight: 500;
	color: white;
	border: none;

	@media (max-width: 850px) {
		min-width: 250px;
	}

	&::placeholder {
		color: rgba($color: #fff, $alpha: 0.5);
	}

	&:focus {
		outline: none;
	}
	&::-webkit-search-cancel-button {
		display: none;
	}
}

.searchButton {
	background: none;
	border: none;
	padding: 10px;
	cursor: pointer;
	position: absolute;

	right: 10px;
	top: 50%;
	transform: translateY(-50%);

	svg {
		stroke: white;
	}
}

.searchIcon {
	width: 24px;
	height: 24px;
}

.notification {
	cursor: pointer;

	svg:hover {
		transition: all 0.3s;
		stroke: orange;
	}

	&_block {
		position: absolute;
		height: 20px;
		font-size: 16px;
		opacity: 0;
		visibility: hidden;
		right: 0;
		padding: 20px;
		background-color: var(--card-background);
		border-radius: 14px;
		transition: all 0.3s;

		@include flex-center;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	border: 4px solid rgba(255, 255, 255, 0.3);
	border-top: 4px solid #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
}

.show {
	opacity: 1;
	visibility: visible;
}
