:root {
	--primary-color: #4793ff;
	--light-background: #fff;
	--box-shadow: 4px 8px 30px -5px rgba(100, 100, 100, 0.4);

	--border-radius: 20px;
	--body-background-light: #fff;
	--card-background-light: rgba(71, 147, 255, 0.2);
}
