@import './../../../../Styles/variables';
.globals {
	height: 225px;
	padding: 20px;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	display: flex;
	column-gap: 10px;
	grid-area: daily;
	overflow: hidden;
	background-color: var(--components-background);
	transition: all 0.3s ease;
	opacity: 0;
	transform: translateY(200px);
}

.globals.show {
	opacity: 1;
	transform: translateY(0);
}
