@import './../../../../Styles/variables';
.globals {
	height: 225px;
	padding: 20px;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	display: flex;
	column-gap: 10px;
	grid-area: daily;
	overflow: hidden;
	background-color: var(--components-background);
	transition: all 0.3s ease;
	opacity: 0;
	transform: translateY(200px);

	@media (max-width: 700px) {
		overflow: auto;
		height: 250px;
		scrollbar-width: auto;
		scrollbar-color: var(--components-background) var(--primary-color);

		&::-webkit-scrollbar {
			width: 200px !important;
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--components-background);
			border-radius: 4px;
		}

		&::-webkit-scrollbar-track {
			background-color: var(--primary-color);
		}
	}
}

.globals.show {
	opacity: 1;
	transform: translateY(0);
}
