.weather_map {
	grid-area: map;
	transform: translateY(-200px);
	opacity: 0;
	transition: all 0.3s ease;
	max-width: 900px;
	min-height: 600px;
	width: 100%;
}

.weather_map.show {
	opacity: 1;
	transform: translateY(0);
}

.iframe_map {
	border-radius: 10px;
	max-width: 100%;
	width: 90vw;
	height: 100%;
}
