.city_card {
	width: 100%;
	background-color: var(--card-background-light);
	padding: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title,
.temp {
	font-weight: 500;
}

.title {
	font-size: 24px;
	cursor: pointer;
}

.temp {
	font-size: 20px;
}

.img {
	width: 50px;
	height: 50px;
	box-shadow: 2px 5px 25px -3px rgba(133, 132, 132, 0.3);
	border-radius: 10px;
}
